<header>
  <div class="container">
    <a routerLink="/" class="logo">Food Corner</a>
    <nav>
      <ul>
        <li *ngIf="!isAuth">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isAuth" class="menu-container">
          <a routerLink="/dashboard">{{user.name}}</a>
          <div class="menu">
            <a routerLink="/profile">Profile</a>
            <a routerLink="/order">Order</a>
            <a (click)="logout()">logout</a>
          </div>
        </li>
        <a routerLink="/cart-page">
          Cart <span>{{ cartQuantity }}</span>
        </a>
      </ul>
    </nav>
  </div>
</header>
